<footer class="app__footer">
  <div class="container">
    <div class="row no-gutters">
      <div class="footer__contact col-xs-12 col-md-4">
        <h5 class="footer__header">Contact</h5>
        <address class="contact__email">
          pandpparking@parking.com
        </address>
        <address class="contact__email">
          quotes@parking.com
        </address>
      </div>
      <nav class="footer__navigation col-xs-12 col-md-4">
        <h5 class="footer__header">Navigation</h5>
        <a href="/about">About</a>
        <a href="/clients">Clients</a>
        <a href="/services">Services</a>
        <a href="/quote">Request a Quote</a>
      </nav>
      <nav class="footer__social col-xs-12 col-md-4">
        <h5 class="footer__header">Social</h5>
        <div class="row">
          <div class="social__link"></div>
          <div class="social__link"></div>
          <div class="social__link"></div>
          <div class="social__link"></div>
        </div>
        <!-- <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a> -->
      </nav>
    </div>
  </div>
</footer>
