<!-- <header role="banner" class="app__header container">
  <nav role="navigation" class="row align-items-center justify-content-between vertical-fill">
    <a href="/" class="">Home</a>

    <a href="/employee" class="">EMPLOYEE LOGIN</a>
    <a href="/quote" class="">REQUEST A QUOTE</a>
  </nav>
</header> -->

<header class="global-header" role="banner">
  <div class="container vertical-fill">
    <div class="row vertical-fill">
      <nav class="global-header__nav col-12 vertical-fill" role="navigation">
        <ul class="list nav-list row align-items-center pl-0 mb-0 vertical-fill">
          <!-- first nav item gets pl-0 -->
          <li class="nav-list__item col-12 col-sm-8 pl-sm-0 text-right text-sm-left">
            <a href="/" class="nav-list__item">Home</a>
          </li>
          <li class="nav-list__item col-12 col-sm-2 text-right text-sm-left">
            <a href="/employee" class="nav-list__item">Employee Login</a>
          </li>
          <!-- last nav item gets pr-0 -->
          <li class="nav-list__item col-12 col-sm-2 pr-sm-0 text-right text-sm-left">
            <a href="/quote" class="nav-list__item">Request a quote</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
