<header class="global-header" role="banner">
  <div class="container vertical-fill">
    <div class="row vertical-fill">
      <nav class="global-header__nav col-12 vertical-fill" role="navigation">
        <ul class="list nav-list row align-items-center pl-0 mb-0 vertical-fill">
          <!-- first nav item gets pl-0 -->
          <li class="nav__item col-12 col-sm-3 col-md-6 col-xl-8 pl-sm-0 text-center text-sm-left">
            <a href="/">P&amp;P Parking</a>
          </li>
          <li class="nav__item col-12 col-sm-4 col-md-2 col-xl-2 text-center text-sm-right">
            <a href="/employee" class="link--employee">Employee Login</a>
          </li>
          <!-- last nav item gets pr-0 -->
          <li class="nav__item col-12 col-sm-5 col-md-4 col-xl-2 pr-sm-0 text-center text-sm-right">
            <a href="/quote" class="link--quote">Request a quote</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
