<!-- <header role="banner" class="app__header container">
  <nav role="navigation" class="row align-items-center justify-content-between vertical-fill">
    <a href="/" class="">Home</a>

    <a href="/employee" class="">EMPLOYEE LOGIN</a>
    <a href="/quote" class="">REQUEST A QUOTE</a>
  </nav>
</header> -->

<header class="global-header" role="banner">
  <div class="container vertical-fill">
    <div class="row no-gutters vertical-fill">
      <nav class="global-header__nav col-12 vertical-fill" role="navigation">
        <ul class="list nav-list row align-items-center justify-content-between pl-0 mb-0 vertical-fill">
          <li class="nav-list__item">
            <a href="/" class="nav-list__item">Home</a>
          </li>
          <li class="nav-list__item">
            <a href="/employee" class="nav-list__item">Employee Login</a>
          </li>
          <li class="nav-list__item">
            <a href="/quote" class="nav-list__item">Request a quote</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
