{{ define "main" }}

  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4">
        <h1 class="punch-type">Our People</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores cupiditate provident inventore asperiores, fuga voluptates corporis iste, blanditiis, ea debitis perspiciatis unde nihil commodi, vitae consequuntur ducimus nemo quas perferendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit reprehenderit rem nemo est id accusamus, assumenda vero eaque itaque eum facilis voluptatem delectus debitis, recusandae natus! Maiores dignissimos, culpa nemo.</p>
      </div>

      <div class="col-12 col-md-8">
        <img class="img-fluid" src="/img/employees.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-4">
        <h2 class="punch-type punch-type--dark">"Quote about leading the company and its values"</h2>
      </div>
      <div class="col-12 col-md-8">
        <img class="img-fluid" src="/img/jameson.jpg">
        <h3 class="punch-type">Leadership</h3>
        <h5 class="subheader">Jameson Pugh</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cumque nam rem dolores repudiandae, sit quidem recusandae et eaque deserunt ipsam dolorum! Reiciendis odio, quaerat similique harum ducimus est nemo! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores inventore in, impedit voluptate blanditiis magni quidem quae, dolorem eligendi voluptatem nesciunt cupiditate aut dolorum aspernatur molestias, eos praesentium odio accusamus.</p>
        <div class="row">
          <a href="https://linkedin.com">LinkedIn</a>
          <a href="#">Email</a>
        </div>
      </div>
    </div>

  </div>


{{ end }}
