{{ define "main" }}

  <div class="row no-gutters">
    <div class="col-12 col-lg-7 has-background-img background--desforges">
      <!-- desforges image -->
    </div>
    <div class="col-12 col-lg-5 bg-fill d-flex flex-column justify-content-center align-items-lg-start px-5 align-items-center">
      <h1 class="punch-type punch-type--dark">Our Services</h1>
      <p>We offer a variety of services in the parking and valet industries.</p>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-md-2 offset-md-1">
        <ul class="d-flex flex-row flex-md-column pl-0 pt-md-5 justify-content-around vertical-fill">
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
          <li>Lorem Ipsum</li>
        </ul>
      </div>
      <div class="col-12 col-sm-7">
        <h3 class="punch-type">The Details</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, corporis, incidunt. Enim, quas, magni. Enim pariatur quasi beatae. Quasi dicta nobis fuga molestias. Laborum voluptates, repudiandae ratione, vel inventore tenetur? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolores sunt quisquam quo asperiores vitae unde molestias, officiis repellendus libero! Ad quaerat autem atque, nostrum ab veritatis quibusdam suscipit consequuntur!</p>
      </div>
    </div>
  </div>

{{ end }}
