body {
  font-family: var(--bodyType);
  font-size: 18px;
  color: var(--darkType);
  padding-top: 120px;
}

a {
  color: var(--darkType);
}

a:hover {
  color: var(--darkType);
  text-decoration: none;
}

@media (max-width: 992px) {
  body {
    padding-top: 60px;
  }
}
