.global-header {
  min-height: var(--headerHeight);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 5;
}

@media (max-width: 992px) {
  .global-header {
    min-height: calc(var(--headerHeight) / 2);
  }
}

.nav-list {
  list-style-type: none;
}

.link--employee {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.link--quote {
  border: 1px solid #222;
  padding: 7px 17px;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .nav__item {
    margin: 8px 0;
  }
}

@media (max-width: 992px) {
  .link--quote {
    padding: 7px 7px;
  }
}

.with--extra-links {
  background: red;
}
