.global-header {
  min-height: var(--headerHeight);
}

@media (max-width: 992px) {
  .global-header {
    min-height: calc(var(--headerHeight) / 2);
  }
}

.nav-list {
  list-style-type: none;
}

.link--employee {
  font-size: 0.8rem;
}

.link--quote {
  border: 1px solid #222;
  padding: 5px 8px;
}

@media (max-width: 576px) {
  .nav__item {
    margin:8px 0;
  }
}
