.hero__header {
  font-weight: 200;
}

.hero__blurb {
  text-align: center;
}

.hero {
  background-image: url(/img/simon-shim-561304-unsplash_converted_resized_4.jpg);
  background-size: cover;
  background-position: center;
  min-height: calc(80vh - 60px);
  display: flex;
  align-items: center;
  padding: 0 10vw;
}

.hero--darken {
  background-image:
    linear-gradient(
      rgba(37, 37, 70, 0.8),
      rgba(37, 37, 70, 0.8)
    ),
    url(/img/simon-shim-561304-unsplash_converted_resized_4.jpg);
}

@media (max-width: 992px) {
  .hero__blurb {
    /* text-align: left; */
  }
}

@media (max-width: 768px) {
  .hero__blurb {
    /* text-align: left; */
  }
}

.blurb__link {
  color: #fff;
}

.blurb__link:hover {
  text-decoration: none;
  color: #fff;
}

.hero__nav {
  display: flex;
}

.hero__link {
  flex-grow: 1;
  height: 60px;
  justify-content: center;
  display: flex;
  align-items: center;
}
