.vertical-fill {
  min-height: inherit;
}

.bg-fill {
  background: var(--primaryFillColor);
}

/* undo negative margins from Bootstrap on .row */
.row {
  margin-left: 0;
  margin-right: 0;
}

.punch-type {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  color: var(--primaryTypeColor);
  font-size: 70px;
  font-weight: 600;
}

.punch-type--dark {
  color: var(--darkType);
}

@media (max-width: 992px) {
  .punch-type {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .punch-type {
    font-size: 2rem;
  }
}

.has-background-img {
  background-size: cover;
  background-position: center;
}

.background--desforges {
  background-image: url(/img/desforges_cropped.png);
  min-height: calc(100vh - var(--headerHeight));
}

@media (max-width: 992px) {
  .background--desforges {
    min-height: 35vh;
  }
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
}

.u--underline {
  text-decoration: underline;
}
